{% extends "base.html" %}
{% block content %}
<div class="container">
  <h1>Terms & Conditions</h1>
  <p>Terms & Conditions
By using this website, you agree to abide by our terms and conditions. These rules are designed to ensure a safe, transparent, and trustworthy experience for all users. Please read them carefully. If you have any questions or need assistance regarding our terms, feel free to contact us directly.</p><br><br>

<p>Contact Us</p>
<p>Email: velkieagentlist@gmail.com</p>


</div>
{% endblock %}
