{# templates/includes/topbar.html #}
{% load static %}
<div class="velki-topbar" role="banner">
  <div class="velki-topbar-inner container">
    <div class="topbar-left">
      <small>শীঘ্রই নতুন আপডেট • Hotline: +855 15519825</small>
    </div>
    <div class="topbar-right">
      <a href="#" class="toplink">About</a>
      <span class="sep">|</span>
      <a href="#" class="toplink">Terms</a>
      <span class="sep">|</span>
      <a href="#" class="toplink">Privacy</a>
      <span class="sep">|</span>
      <a href="#" class="toplink">Contact</a>
    </div>
  </div>
</div>
